@{
    ViewBag.Title = "实战考试_科目4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("HomePartialView")
@using DrivingTestSystem.Models.Subject
@using DrivingTestSystem.Models.User
@model Subject[]
@{
    if (Session["User"] != null)
    {
        User u = (User)Session["User"];
        ViewBag.account = u.user_account;
        ViewBag.user_img = u.user_img;
    }

}
<script>
    var contents = [];
    var ti_contents = [];
    var As = [];
    var ti_As = [];
    var Bs = [];
    var ti_Bs = [];
    var Cs = [];
    var ti_Cs = [];
    var Ds = [];
    var ti_Ds = [];
    var ids = [];
    var imgs = [];
    var video = [];
    var s_c = [];
    var s_t = [];
    var isCorrect = [];
    var answer = [];
    var type = [];
</script>
<link href="~/Resources/css/video-js.css" rel="stylesheet"/>
<script src="~/Resources/js/video.min.js"></script>

<section style="display:flex;margin-left: 0px;margin-right:0px;width:100%">
    <div class="left-main">
        <fieldset class="layui-elem-field" style="margin-bottom:70px">
            <legend>科目四</legend>
            <div class="layui-field-box category">科目四</div>
        </fieldset>
        <fieldset class="layui-elem-field" style="min-height: 237px;text-align:center;">
            <legend>用户信息</legend>
            <div class="layui-field-box" style="min-height: 237px;">
                <img src="~/Resources/img/user.jpg" class="user-img" style="margin-right:20px;margin-bottom:0;display:inline-block;box-sizing: border-box;left: 15%;">
                <p>用&nbsp;&nbsp;&nbsp;&nbsp; 户: <span class="user">@ViewBag.account</span></p>
                <p>练习题数: <span class="user-num">@ViewBag.len</span></p>
                <p>考试科目: <span class="user-category">科目4</span></p>
                <p>考试时间: <span class="user-time"></span></p>
            </div>
        </fieldset>
    </div>
    <div class="right-main">
        <fieldset class="layui-elem-field" style="min-height: 430px;position: relative;margin-left:10px;max-width:100%">
            <legend>考试题目</legend>
            <div class="layui-field-box" style="text-align:left">
                <p class="question" id="question" style="font-weight:bold;font-size:18px">1、@Model[0].subject_content？</p>
                <p class="answer-one" id="answer-one" style="font-weight:bold;font-size:18px">A @Model[0].subject_A</p>
                <p class="answer-two" id="answer-two" style="font-weight:bold;font-size:18px">B @Model[0].subject_B</p>
                <p class="answer-there" id="answer-three" style="font-weight:bold;font-size:18px">C @Model[0].subject_C</p>
                <p class="answer-four" id="answer-four" style="font-weight:bold;font-size:18px">D @Model[0].subject_D</p>
                <p class="answer-judge" style="width: 50%; display: none; text-align:center" id="ShowJudge"></p>
                <img src="@Model[0].subject_img" class="que-img pc-que-img" id="subject_img" style="margin:0;margin-right:20px;margin-bottom:40px">
                <div style="position: absolute;bottom: 2%;width: 100%;margin-bottom:10px">
                    <div style="float: left;" class="answer-test">
                        <button class="layui-btn layui-btn-normal play-audio" id="playcontent" style="font-size:20px"><i class="glyphicon glyphicon-volume-up" style="font-size: 14px;"></i>&nbsp;音频</button>
                        <audio src="" class="answer-audio" style="display: none;" id="subject_sound_trick">
                            您的浏览器不支持 audio 标签。
                        </audio>
                        <audio src="@Model[0].subject_sound_content_tibetan" class="answer-audio" style="display: none;" id="subject_sound_content">
                            您的浏览器不支持 audio 标签。
                        </audio>
                        <!--<audio src="/Public/video/right.wav" id="turename" style="display: none;"></audio>-->
                        <button class="layui-btn layui-btn-warm detailsbtn" data-hide="yes" id="playtrick"  style="font-size:20px"><i class="glyphicon glyphicon-star" style="font-size: 14px;"></i>&nbsp;小技巧</button>
                        <button data-toggle="modal" data-target="#myModal" class="layui-btn layui-btn-warm layer-video" id="playvideo" style="display:none"><i class="glyphicon glyphicon-facetime-video" style="font-size: 20px;"></i> 播放视频</button>
                    </div>
                    <div style="float: right;margin-right: 5%" id="AnswerButton">
                        <p id="subject_id" style="display:none">@Model[0].subject_id</p>
                        <p id="subject_index" style="display:none">@ViewBag.nowIndex</p>
                        <button class="layui-btn layui-btn-primary chooes" id="A" data-ov="none" onclick="checkAnswer('A');">A</button>
                        <button class="layui-btn layui-btn-primary chooes" id="B" data-ov="none" onclick="checkAnswer('B');">B</button>
                        <button class="layui-btn layui-btn-primary chooes" id="C" data-ov="none" onclick="checkAnswer('C');">C</button>
                        <button class="layui-btn layui-btn-primary chooes" id="D" data-ov="none" onclick="checkAnswer('D');">D</button> 
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="right-footer">
            <div class="right-footer-btn" style="margin-top:20px" >
                <button class="layui-btn upper" onclick="toPastPuzzle()" id="upper">上一题</button>
                <button class="layui-btn Next" onclick="toNextPuzzle(@ViewBag.len)" id="next">下一题</button>
                <button class="layui-btn layui-btn-warm goover" style="float: right;font-size:20px" onclick="showYourScore();" id="handin"><i class="glyphicon glyphicon-saved" style="font-size: 14px;"></i>&nbsp;交卷</button>
            </div>
        </div>
    </div>
</section>
<div class="main">
    <fieldset class="layui-elem-field">
        <legend>题目编号</legend>
        <div class="layui-field-box">
            <ul id="container">
                @for (int i = 0; i < ViewBag.len; i++)
                {
                    <script>
                        contents.push("@Model[i].subject_content.ToString().Trim().Replace("\n","").Replace("\r","")");
                        ti_contents.push("@Model[i].subject_content_tibetan.ToString().Trim()");
                        As.push("@Model[i].subject_A.ToString().Trim()");
                        ti_As.push("@Model[i].subject_A_tibetan.ToString().Trim()");
                        Bs.push("@Model[i].subject_B.ToString().Trim()");
                        ti_Bs.push("@Model[i].subject_B_tibetan.ToString().Trim()");
                    </script>
                    if (Model[i].subject_C == null)
                    {
                    <script>
                        Cs.push("@Model[i].subject_C");
                        ti_Cs.push("@Model[i].subject_C_tibetan");
                        Ds.push("@Model[i].subject_D");
                        ti_Ds.push("@Model[i].subject_D_tibetan");
                    </script>
                    }
                    else
                    {
                        <script>
                            Cs.push("@Model[i].subject_C.ToString().Trim()");
                            ti_Cs.push("@Model[i].subject_C_tibetan.ToString().Trim()");
                            Ds.push("@Model[i].subject_D.ToString().Trim()");
                            ti_Ds.push("@Model[i].subject_D_tibetan.ToString().Trim()");
                        </script>
                    }
                    <script>
                        ids.push(@Model[i].subject_id);
                    </script>
                    if (Model[i].subject_img != null)
                    {
                        <script>
                            imgs.push("@Model[i].subject_img.ToString().Trim()");
                         </script>
                    }
                    else
                    { 
                        <script>
                            imgs.push("@Model[i].subject_img");
                        </script>
                    }
                    <script>
                        video.push("@Model[i].subject_video");
                        s_c.push("@Model[i].subject_sound_content_tibetan");
                        s_t.push("@Model[i].subject_sound_trick_tibetan");
                        isCorrect.push("not");
                        answer.push("@Model[i].subject_answer.ToString().Trim()");
                        type.push("@Model[i].subject_type.ToString().Trim()");
                    </script>
                        <li id="new(@i)" class="newli newli-btn" onclick="ToANewPuzzle(@i)" style="cursor:pointer">@(i + 1)</li>
                }
            </ul>
        </div>
    </fieldset>
</div>
<!--播放器-->


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="min-width:740px">
            <video id="my-video" class="video-js" controls preload="auto" width="740" height="400"  style="width:100%">
                <source src="@Model[0].subject_video" type="video/webm" id="video_src">
                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>  
        </div>
	</div>
</div>


<script>
    var lan;
    var nowTime = 0;
    function Ch_e4() {
        $(".user-category").text("科目四");
        $("#next").text("下一题");
        $("#upper").text("上一题");
        $("#next").text("下一题");
        $("#upper").text("上一题");
        if (type[0] == "C") {
            document.getElementById("answer-three").innerHTML = "C " + Cs[0];
            document.getElementById("answer-four").innerHTML = "D " + Ds[0];
            $("#C").show();
            $("#D").show();
        } else {
            document.getElementById("answer-three").innerHTML = "<br/>";
            document.getElementById("answer-four").innerHTML = "<br/>";
            $("#C").hide();
            $("#D").hide();
        }
    }
    //上གོང་གི་དྲི་བ།下འོག་གི་དྲི་བ།
    function tibetan_e4() {
        $(".user-category").text("བཞི");
        $(".layui-btn Next").text("འོག་གི་དྲི་བ།");
        $(".layui-btn upper").text("གོང་གི་དྲི་བ།");
        document.getElementById("question").innerHTML = "1、" + ti_contents[0];
        document.getElementById("answer-one").innerHTML = "A " + ti_As[0];
        document.getElementById("answer-two").innerHTML = "B " + ti_Bs[0];
        if (type[0] == "C") {
            document.getElementById("answer-three").innerHTML = "C " + ti_Cs[0];
            document.getElementById("answer-four").innerHTML = "D " + ti_Ds[0];
            $("#C").show();
            $("#D").show();
        } else {
            document.getElementById("answer-three").innerHTML = "<br/>";
            document.getElementById("answer-four").innerHTML = "<br/>";
            $("#C").hide();
            $("#D").hide();
        }
        $("#playcontent").html("<i class='glyphicon glyphicon-volume-up' style='font-size: 14px;'></i>སྐད།");
        $("#playtrick").html("<i class='glyphicon glyphicon-star' style='font-size: 14px;'></i>མཐུ་རྩལ།");
        $("#handin").html("<i class='glyphicon glyphicon-saved' style='font-size: 14px;'></i> རྒྱུགས་ཤོག་");
    }
    $(document).ready(function () {
        setTimeout("nowTime++", 1000);
        $("#subject_img").attr("src", decodeURI(encodeURI(imgs[0]).replace("%E2%80%AA", "")));
        $("#subject_sound_trick").attr("src", decodeURI(encodeURI(s_t[0]).replace("%E2%80%AA", "")));
        $("#subject_sound_content").attr("src", decodeURI(encodeURI(s_c[0]).replace("%E2%80%AA", "")));
        if (video[0] != "") {
            $("#subject_img").attr("src", decodeURI(encodeURI(video[0]).replace("%E2%80%AA", "")));
        }
        $.ajax({
            type: "post",
            async: false,
            url: "/UserLogin/getLan/",
            data: {},
            success: function (data) {
                lan = data;
                if (data != "ch") {
                    tibetan_e4();
                }
                else {
                    Ch_e4();
                }
            }
        });
        $("#playcontent").click(function () {
            var audio = document.getElementById("subject_sound_content");
            if (audio.paused) {
                audio.play();
            } else {
                audio.pause();
            }
        });
        $("#playtrick").click(function () {
            var audio = document.getElementById("subject_sound_trick");
            if (audio.paused) {
                audio.play();
            } else {
                audio.pause();
            }
        });
        $("#playvideo").click(function () {
            var myPlayer = videojs('my-video');
            videojs("my-video", {}, function () {
                window.myPlayer = this;
                myPlayer.play();
            });
        });
        $('#myModal').on('hidden.bs.modal', function () {
            myPlayer.pause();
        });
    });

    function show(index) {
        document.getElementById("AnswerButton").style.display = 'none';
        document.getElementById("ShowJudge").style.display = "block";
        document.getElementById("ShowJudge").style.color = 'green';
        if (lan != "tibetan") {
            document.getElementById("ShowJudge").innerHTML = "恭喜您，答对啦~";
        } else {
            document.getElementById("ShowJudge").innerHTML = "རྟེན་འབྲེལ་ཞུ།ལན་བཏབ་པ་འགྲིག་གི!";
        }
        document.getElementById("new(" + index.toString() + ")").className = "newli newli-true";
    }
    function hide(index) {
        document.getElementById("AnswerButton").style.display = 'none';
        document.getElementById("ShowJudge").style.display = "block";
        document.getElementById("ShowJudge").style.color = 'red';
        if (lan != "tibetan") {
            document.getElementById("ShowJudge").innerHTML = "回答错误,正确答案应为:" + answer[index];
        } else {
            document.getElementById("ShowJudge").innerHTML = "ནོར་འདུག,ཡང་དག་པའི་ལན་ནི:" + answer[index];
        }
        document.getElementById("new(" + index.toString() + ")").className = "newli newli-false";
        isCorrect[index] = "no";
    }
    function ToANewPuzzle(index) {
        if (lan != "tibetan") {
            document.getElementById("question").innerHTML = (index + 1).toString() + "、" + contents[index];
            document.getElementById("answer-one").innerHTML = "A " + As[index];
            document.getElementById("answer-two").innerHTML = "B " + Bs[index];
            if (type[index] == "C") {
                document.getElementById("answer-three").innerHTML = "C " + Cs[index];
                document.getElementById("answer-four").innerHTML = "D " + Ds[index];
                $("#C").show();
                $("#D").show();
            } else {
                document.getElementById("answer-three").innerHTML = "<br/>";
                document.getElementById("answer-four").innerHTML = "<br/>";
                $("#C").hide();
                $("#D").hide();
            }
        } else {
            document.getElementById("question").innerHTML = (index + 1).toString() + "、" + ti_contents[index];
            document.getElementById("answer-one").innerHTML = "A " + ti_As[index];
            document.getElementById("answer-two").innerHTML = "B " + ti_Bs[index];
            if (type[index] == "C") {
                document.getElementById("answer-three").innerHTML = "C " + ti_Cs[index];
                document.getElementById("answer-four").innerHTML = "D " + ti_Ds[index];
                $("#C").show();
                $("#D").show();
            } else {
                document.getElementById("answer-three").innerHTML = "<br/>";
                document.getElementById("answer-four").innerHTML = "<br/>";
                $("#C").hide();
                $("#D").hide();
            }
        }
        document.getElementById("subject_index").innerHTML = index;
        document.getElementById("subject_id").innerHTML = ids[index];
        $("#subject_img").attr("src", decodeURI(encodeURI(imgs[index]).replace("%E2%80%AA", "")));
        $("#subject_sound_trick").attr("src", decodeURI(encodeURI(s_t[index]).replace("%E2%80%AA", "")));
        $("#subject_sound_content").attr("src", decodeURI(encodeURI(s_c[index]).replace("%E2%80%AA", "")));
        if (video[index] != "") {
            $("#subject_img").attr("src", decodeURI(encodeURI(video[index]).replace("%E2%80%AA", "")));
        }

        if (isCorrect[index] == "not") {
            document.getElementById("AnswerButton").style.display = 'block';
            document.getElementById("ShowJudge").style.display = "none";
        }
        else if (isCorrect[index] == "yes") {
            show(index);
        }
        else {
            hide(index);
        }
    }
    function toPastPuzzle() {
        var nowIndex = jQuery("#subject_index").text();
        nowIndex = parseInt(nowIndex);
        if (nowIndex != 0) {
            nowIndex = nowIndex - 1;
        }
        if (lan != "tibetan") {
            document.getElementById("question").innerHTML = (nowIndex + 1).toString() + "、" + contents[nowIndex];
            document.getElementById("answer-one").innerHTML = "A " + As[nowIndex];
            document.getElementById("answer-two").innerHTML = "B " + Bs[nowIndex];
            if (type[nowIndex] == "C") {
                $("#C").show();
                $("#D").show();
                document.getElementById("answer-three").innerHTML = "C " + Cs[nowIndex];
                document.getElementById("answer-four").innerHTML = "D " + Ds[nowIndex];
            } else {
                document.getElementById("answer-three").innerHTML = "<br/>";
                document.getElementById("answer-four").innerHTML = "<br/>";
                $("#C").hide();
                $("#D").hide();
            }
        } else {
            document.getElementById("question").innerHTML = (nowIndex + 1).toString() + "、" + ti_contents[nowIndex];
            document.getElementById("answer-one").innerHTML = "A " + ti_As[nowIndex];
            document.getElementById("answer-two").innerHTML = "B " + ti_Bs[nowIndex];
            if (type[nowIndex] == "C") {
                $("#C").show();
                $("#D").show();
                document.getElementById("answer-three").innerHTML = "C " + ti_Cs[nowIndex];
                document.getElementById("answer-four").innerHTML = "D " + ti_Ds[nowIndex];
            } else {
                $("#C").hide();
                $("#D").hide();
                document.getElementById("answer-three").innerHTML = "<br/>";
                document.getElementById("answer-four").innerHTML = "<br/>";
            }
        }
        document.getElementById("subject_index").innerHTML = nowIndex;
        document.getElementById("subject_id").innerHTML = ids[nowIndex];
        $("#subject_img").attr("src", decodeURI(encodeURI(imgs[nowIndex]).replace("%E2%80%AA", "")));
        $("#subject_sound_trick").attr("src", decodeURI(encodeURI(s_t[nowIndex]).replace("%E2%80%AA", "")));
        $("#subject_sound_content").attr("src", decodeURI(encodeURI(s_c[nowIndex]).replace("%E2%80%AA", "")));
        if (video[nowIndex] != "") {
            $("#subject_img").attr("src", decodeURI(encodeURI(video[nowIndex]).replace("%E2%80%AA", "")));
        }
        if (isCorrect[nowIndex] == "not") {
            document.getElementById("AnswerButton").style.display = 'block';
            document.getElementById("ShowJudge").style.display = "none";
        }
        else if (isCorrect[nowIndex] == "yes") {
            show(nowIndex);
        }
        else {
            hide(nowIndex);
        }
    }
    function toNextPuzzle(len) {
        var nowIndex = jQuery("#subject_index").text();
        nowIndex = parseInt(nowIndex);
        if (nowIndex != len - 1) {
            nowIndex = nowIndex + 1;
        }
        if (lan != "tibetan") {
            document.getElementById("question").innerHTML = (nowIndex + 1).toString() + "、" + contents[nowIndex];
            document.getElementById("answer-one").innerHTML = "A " + As[nowIndex];
            document.getElementById("answer-two").innerHTML = "B " + Bs[nowIndex];
            if (type[nowIndex] == "C") {
                $("#C").show();
                $("#D").show();
                document.getElementById("answer-three").innerHTML = "C " + Cs[nowIndex];
                document.getElementById("answer-four").innerHTML = "D " + Ds[nowIndex];
            } else {
                $("#C").hide();
                $("#D").hide();
                document.getElementById("answer-three").innerHTML = "<br/>";
                document.getElementById("answer-four").innerHTML = "<br/>";
            }
        } else {
            document.getElementById("question").innerHTML = (nowIndex + 1).toString() + "、" + ti_contents[nowIndex];
            document.getElementById("answer-one").innerHTML = "A " + ti_As[nowIndex];
            document.getElementById("answer-two").innerHTML = "B " + ti_Bs[nowIndex];
            if (type[nowIndex] == "C") {
                $("#C").show();
                $("#D").show();
                document.getElementById("answer-three").innerHTML = "C " + ti_Cs[nowIndex];
                document.getElementById("answer-four").innerHTML = "D " + ti_Ds[nowIndex];
            } else {
                $("#C").hide();
                $("#D").hide();
                document.getElementById("answer-three").innerHTML = "<br/>";
                document.getElementById("answer-four").innerHTML = "<br/>";
            }
        }
        document.getElementById("subject_index").innerHTML = nowIndex;
        document.getElementById("subject_id").innerHTML = ids[nowIndex];
        $("#subject_img").attr("src", decodeURI(encodeURI(imgs[nowIndex]).replace("%E2%80%AA", "")));
        $("#subject_sound_trick").attr("src", decodeURI(encodeURI(s_t[nowIndex]).replace("%E2%80%AA", "")));
        $("#subject_sound_content").attr("src", decodeURI(encodeURI(s_c[nowIndex]).replace("%E2%80%AA", "")));
        if (video[nowIndex] != "") {
            $("#subject_img").attr("src", decodeURI(encodeURI(video[nowIndex]).replace("%E2%80%AA", "")));
        }
        if (isCorrect[nowIndex] == "not") {
            document.getElementById("AnswerButton").style.display = 'block';
            document.getElementById("ShowJudge").style.display = "none";
        }
        else if (isCorrect[nowIndex] == "yes") {
            show(nowIndex);
        }
        else {
            hide(nowIndex);
        }
    }
    function checkAnswer(user_answer) {
        var id = jQuery("#subject_id").text();
        var index = jQuery("#subject_index").text();
        $.ajax({
            type: "post",
            async: false,
            url: "@Url.Content("~/Practice/CheckAnswer/")",
            data: { "user_answer": user_answer, "subject_id": id },
            dataType: "json",
            success: function (data) {
                if (data == 'ok') {
                    document.getElementById("AnswerButton").style.display = 'none';
                    document.getElementById("ShowJudge").style.display = "block";
                    document.getElementById("ShowJudge").style.color = 'green';
                    if (lan != "tibetan") {
                        document.getElementById("ShowJudge").innerHTML = "恭喜您，答对啦~";
                    } else {
                        document.getElementById("ShowJudge").innerHTML = "རྟེན་འབྲེལ་ཞུ།ལན་བཏབ་པ་འགྲིག་གི!";
                    }
                    document.getElementById("new(" + index.toString() + ")").className = "newli newli-true";
                    isCorrect[index] = "yes";

                } else {
                    document.getElementById("AnswerButton").style.display = 'none';
                    document.getElementById("ShowJudge").style.display = "block";
                    document.getElementById("ShowJudge").style.color = 'red';
                    if (lan != "tibetan") {
                        document.getElementById("ShowJudge").innerHTML = "回答错误,正确答案应为:" + answer[index];
                    } else {
                        document.getElementById("ShowJudge").innerHTML = "ནོར་འདུག,ཡང་དག་པའི་ལན་ནི:" + answer[index];
                    }
                    document.getElementById("new(" + index.toString() + ")").className = "newli newli-false";
                    isCorrect[index] = "no";
                }
            }

        });
    }
    function showYourScore()
    {
        if (nowTime <= 30000) {
            if (lan == "ch") {
                alert("答卷30分钟方可交卷");
                return;
            }
            else {
                alert("སྐར་མ་སུམ་བཅུ་ཡི་རྗེས་ནས་རྒྱུགས་ཤོག་སྤྲད་ཆོག");
                return;
            }
        }
        var score = 0;
        for(var i=0;i<isCorrect.length;i++)
        {
            if (isCorrect[i] == "yes")
            {
                score+=2; //科目四每题2分，共100分
            }
        }
        if (lan == "ch") {
            alert("最终得分：" + score);
        }
        else {
            alert(" སྡོམ་སྐར། ：" + score);
        }
    }
</script>
