@{
    ViewBag.Title = "模拟练习_科目4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("HomePartialView")
@using DrivingTestSystem.Models.Subject
@using DrivingTestSystem.Models.User
@model Subject[]
@{
    if (Session["User"] != null)
    {
        User u = (User)Session["User"];
        ViewBag.account = u.user_account;
        ViewBag.user_img = u.user_img;
    }
    else
    {
        ViewBag.account = "免费体验";
    }
    switch (Model[0].subject_ctype)
    {
        case "basic":
            ViewBag.title = "基础篇";
            break;
        case "driving":
            ViewBag.title = "驾驶技巧";
            break;
        case "sign":
            ViewBag.title = "交通标志";
            break;
        case "ground":
            ViewBag.title = "地面标线";
            break;
        case "signal":
            ViewBag.title = "交通信号";
            break;
        case "common1":
            ViewBag.title = "交通常识(1)";
            break;
        case "common2":
            ViewBag.title = "交通常识(2)";
            break;
        default:
            ViewBag.title = "交通常识(3)";
            break;
    }
}
<script>
    var contents = [];
    var As = [];
    var Bs = [];
    var Cs = [];
    var Ds = [];
    var ids = [];
    var imgs = [];
    var video = [];
    var s_c = [];
    var s_t = [];
    var isCorrect = [];
</script>
<script src="~/Resources/js/willesPlay.js"></script>
<link href="~/Resources/css/willesPlay.css" rel="stylesheet"/>
<section style="display:flex;margin-left: 0px;margin-right:0px;width:100%">
    <div class="left-main">
        <fieldset class="layui-elem-field" style="margin-bottom:40px">
            <legend>@ViewBag.title</legend>
            <div class="layui-field-box category">@ViewBag.title</div>
        </fieldset>
        <fieldset class="layui-elem-field" style="min-height: 237px;text-align:center;">
            <legend>用户信息</legend>
            <div class="layui-field-box" style="min-height: 237px;">
                <img src="@ViewBag.user_img" class="user-img" style="margin-right:20px;margin-bottom:0;display:inline-block;box-sizing: border-box;left: 15%;">
                <p>用&nbsp;&nbsp;&nbsp;&nbsp; 户: <span class="user">@ViewBag.account</span></p>
                <p>练习题数: <span class="user-num">@ViewBag.len</span></p>
                <p>考试科目: <span class="user-category">科目4</span></p>
                <p>考试车型: <span class="user-car"></span></p>
            </div>
        </fieldset>
    </div>
    <div class="right-main">
        <fieldset class="layui-elem-field" style="min-height: 340px;position: relative;margin-left:10px;max-width:100%">
            <legend>考试题目</legend>
            <div class="layui-field-box" style="text-align:left">
                <p class="question" id="question">1、@Model[0].subject_content？</p>
                <p class="answer-one" id="answer-one">A @Model[0].subject_A</p>
                <p class="answer-two" id="answer-two"">B @Model[0].subject_B</p>
                <p class="answer-there" id="answer-three">C @Model[0].subject_C</p>
                <p class="answer-four" id="answer-four">D @Model[0].subject_D</p>
                <p class="answer-judge" style="width: 50%; display: none; text-align:center" id="ShowJudge"></p>
                <img src="@Model[0].subject_img" class="que-img pc-que-img" id="subject_img">
                <div style="position: absolute;bottom: 2%;width: 100%;">
                    <div style="float: left;" class="answer-test">
                        <button class="layui-btn layui-btn-normal play-audio" id="playcontent"><i class="layui-icon" style="font-size: 20px;"></i>音频</button>
                        <audio src="" class="answer-audio" style="display: none;" id="subject_sound_trick">
                            您的浏览器不支持 audio 标签。
                        </audio>
                        <audio src="" class="answer-audio" style="display: none;" id="subject_sound_content">
                            您的浏览器不支持 audio 标签。
                        </audio>
                        <!--<audio src="/Public/video/right.wav" id="turename" style="display: none;"></audio>-->
                        <button class="layui-btn layui-btn-warm detailsbtn" data-hide="yes" id="playtrick"><i class="layui-icon" style="font-size: 20px;"></i> 小技巧</button>
                        <button class="layui-btn layui-btn-warm layer-video" onclick="playvideo()"><i class="layui-icon" style="font-size: 20px;"></i> 播放视频</button>
                    </div>
                    <div style="float: right;margin-right: 5%" id="AnswerButton">
                        <p id="subject_id" style="display:none">@Model[0].subject_id</p>
                        <p id="subject_index" style="display:none">@ViewBag.nowIndex</p>
                        <button class="layui-btn layui-btn-primary chooes" id="A" data-ov="none" onclick="checkAnswer('A');">A</button>
                        <button class="layui-btn layui-btn-primary chooes" id="B" data-ov="none" onclick="checkAnswer('B');">B</button>
                        <button class="layui-btn layui-btn-primary chooes" id="C" data-ov="none" onclick="checkAnswer('C');">C</button>
                        <button class="layui-btn layui-btn-primary chooes" id="D" data-ov="none" onclick="checkAnswer('D');">D</button> 
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="right-footer">
            <fieldset class="layui-elem-field" style="margin-left:10px;">
                <legend>提示信息</legend>
                <div class="layui-field-box tip" >单选题，请选择你认为正确的答案！</div>
            </fieldset>
            <div class="right-footer-btn" style="margin-top:20px" >
                <button class="layui-btn upper" onclick="toPastPuzzle()">上一题</button>
                <button class="layui-btn Next" onclick="toNextPuzzle(@ViewBag.len)">下一题</button>
                <button class="layui-btn layui-btn-warm goover" style="float: right;display:none"><i class="layui-icon" style="font-size: 20px;"></i> 交卷</button>
                <button class="layui-btn layui-btn-warm Refresh" style="float: right;display: none;" onclick="location.reload()"><i class="layui-icon" style="font-size: 20px;">ဂ</i> 重做</button>
            </div>
        </div>
    </div>
</section>
<div class="main">
    <fieldset class="layui-elem-field">
        <legend>题目编号</legend>
        <div class="layui-field-box">
            <ul id="container">
                @for (int i = 0; i < ViewBag.len; i++)
                {
                    <script>
                        contents.push("@Model[i].subject_content");
                        As.push("@Model[i].subject_A");
                        Bs.push("@Model[i].subject_B");
                        Cs.push("@Model[i].subject_C");
                        Ds.push("@Model[i].subject_D");
                        ids.push(@Model[i].subject_id);
                        imgs.push("@Model[i].subject_img");
                        video.push("@Model[i].subject_video");
                        s_c.push("@Model[i].subject_sound_content");
                        s_t.push("@Model[i].subject_sound_trick");
                        isCorrect.push("not");
                    </script>
                        <li id="new(@i)" class="newli newli-btn" onclick="ToANewPuzzle(@i)" style="cursor:pointer">@(i + 1)</li>
                }
            </ul>
        </div>
    </fieldset>
</div>
<div id="box-video" style="display: none;">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="willesPlay">
                <div class="playContent">
                    <video width="100%" height="100%" id="playVideo">
                        当前浏览器不支持,建议使用谷歌或者QQ浏览器</video>
                    <div class="playTip glyphicon glyphicon-play"></div>
                </div>
                <div class="playControll" style="background-color: #fbfbfb">
                    <div class="playPause playIcon"></div>
                    <div class="timebar"> <span class="currentTime">0:00:00</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                        </div>
                        <span class="duration">0:00:00</span> </div>
                    <div class="otherControl"> <span class="volume glyphicon glyphicon-volume-down"></span> <span class="fullScreen glyphicon glyphicon-fullscreen"></span>
                        <div class="volumeBar" style="display: none;">
                            <div class="volumewrap">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 8px;height: 40%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="back" style="background:black;overflow: hidden;position: absolute;top: 0;opacity: 0.4"></div>
<script>
    $(document).ready(function () {
        $("#playcontent").click(function () {
            var audio = document.getElementById("subject_sound_content");
            if (audio.paused) {
                audio.play();
            } else {
                audio.pause();
            }
        });
        $("#playtrick").click(function () {
            var audio = document.getElementById("subject_sound_trick");
            if (audio.paused) {
                audio.play();
            } else {
                audio.pause();
            }
        });
        $("#back").click(function (event) {
            /* Act on the event */
            $("#box-video").hide(1000, function () {
                $("#back").css({ 'z-index': '1', "display": "none", });
                $("#willesPlay").css("z-index", "1");
                // });
                $("body").css('overflow-y', 'auto');
                $('video').trigger('pause');
            });
        });

    });
    function playvideo() {
        var nowIndex = jQuery("#subject_index").text();
        var screenwidth = document.body.clientWidth;
        var screenHeight = window.screen.availHeight;
        alert(nowIndex);
        alert(video[nowIndex]);
        $("video").attr("src", video[nowIndex]);
        $("#back").show('slow', function () {
            $(this).css({
                "width": screenwidth,
                "height": screenHeight,
                "z-index": "9999",
            });
            $("body").css("overflow-y", "hidden");
        });
        $("#box-video").show(1000, function () {
            $(this).css("z-index", "200000");
            $("#willesPlay").css("z-index", "200000");
        });
    }
    function show(index) {
        document.getElementById("AnswerButton").style.display = 'none';
        document.getElementById("ShowJudge").style.display = "block";
        document.getElementById("ShowJudge").style.color = 'green';
        document.getElementById("ShowJudge").innerHTML = "恭喜您，答对啦~";
        document.getElementById("new(" + index.toString() + ")").className = "newli newli-true";
    }
    function hide(index) {
        document.getElementById("AnswerButton").style.display = 'none';
        document.getElementById("ShowJudge").style.display = "block";
        document.getElementById("ShowJudge").style.color = 'red';
        document.getElementById("ShowJudge").innerHTML = "回答错误,正确答案应为:" + data;
        document.getElementById("new(" + index.toString() + ")").className = "newli newli-false";
        isCorrect[index] = "no";
    }
    function ToANewPuzzle(index) {
        document.getElementById("question").innerHTML = (index + 1).toString() + "、" + contents[index];
        document.getElementById("answer-one").innerHTML = "A " + As[index];
        document.getElementById("answer-two").innerHTML = "B " + Bs[index];
        document.getElementById("answer-three").innerHTML = "C " + Cs[index];
        document.getElementById("answer-four").innerHTML = "D " + Ds[index];
        document.getElementById("subject_index").innerHTML = index;
        document.getElementById("subject_id").innerHTML = ids[index];
        //alert(imgs[index]);
        $("#subject_img").attr("src", imgs[index]);
        $("#subject_sound_trick").attr("src", s_t[index]);
        $("#subject_sound_content").attr("src", s_c[index]);
        if (isCorrect[index] == "not") {
            document.getElementById("AnswerButton").style.display = 'block';
            document.getElementById("ShowJudge").style.display = "none";
        }
        else if (isCorrect[index] == "yes") {
            show(index);
        }
        else {
            hide(index);
        }
    }
    function toPastPuzzle() {
        var nowIndex = jQuery("#subject_index").text();
        nowIndex = parseInt(nowIndex);
        if (nowIndex != 0) {
            nowIndex = nowIndex - 1;
        }
        document.getElementById("question").innerHTML = (nowIndex + 1).toString() + "、" + contents[nowIndex];
        document.getElementById("answer-one").innerHTML = "A " + As[nowIndex];
        document.getElementById("answer-two").innerHTML = "B " + Bs[nowIndex];
        document.getElementById("answer-three").innerHTML = "C " + Cs[nowIndex];
        document.getElementById("answer-four").innerHTML = "D " + Ds[nowIndex];
        document.getElementById("subject_index").innerHTML = nowIndex;
        document.getElementById("subject_id").innerHTML = ids[nowIndex];
        if (isCorrect[nowIndex] == "not") {
            document.getElementById("AnswerButton").style.display = 'block';
            document.getElementById("ShowJudge").style.display = "none";
        }
        else if (isCorrect[nowIndex] == "yes") {
            show(nowIndex);
        }
        else {
            hide(nowIndex);
        }
    }
    function toNextPuzzle(len) {
        var nowIndex = jQuery("#subject_index").text();
        nowIndex = parseInt(nowIndex);
        if (nowIndex != len - 1) {
            nowIndex = nowIndex + 1;
        }
        document.getElementById("question").innerHTML = (nowIndex + 1).toString() + "、" + contents[nowIndex];
        document.getElementById("answer-one").innerHTML = "A " + As[nowIndex];
        document.getElementById("answer-two").innerHTML = "B " + Bs[nowIndex];
        document.getElementById("answer-three").innerHTML = "C " + Cs[nowIndex];
        document.getElementById("answer-four").innerHTML = "D " + Ds[nowIndex];
        document.getElementById("subject_index").innerHTML = nowIndex;
        document.getElementById("subject_id").innerHTML = ids[nowIndex];
        if (isCorrect[nowIndex] == "not") {
            document.getElementById("AnswerButton").style.display = 'block';
            document.getElementById("ShowJudge").style.display = "none";
        }
        else if (isCorrect[nowIndex] == "yes") {
            show(nowIndex);
        }
        else {
            hide(nowIndex);
        }
    }
    function checkAnswer(user_answer) {
        var id = jQuery("#subject_id").text();
        var index = jQuery("#subject_index").text();
        $.ajax({
            type: "post",
            async: false,
            url: "@Url.Content("~/Practice/CheckAnswer/")",
            data: { "user_answer": user_answer, "subject_id": id },
            dataType: "json",
            success: function (data) {
                if (data == 'ok') {
                    document.getElementById("AnswerButton").style.display = 'none';
                    document.getElementById("ShowJudge").style.display = "block";
                    document.getElementById("ShowJudge").style.color = 'green';
                    document.getElementById("ShowJudge").innerHTML = "恭喜您，答对啦~";
                    document.getElementById("new(" + index.toString() + ")").className = "newli newli-true";
                    isCorrect[index] = "yes";

                } else {
                    document.getElementById("AnswerButton").style.display = 'none';
                    document.getElementById("ShowJudge").style.display = "block";
                    document.getElementById("ShowJudge").style.color = 'red';
                    document.getElementById("ShowJudge").innerHTML = "回答错误,正确答案应为:" + data;
                    document.getElementById("new(" + index.toString() + ")").className = "newli newli-false";
                    isCorrect[index] = "no";
                }
            }

        });
    }
</script>
